body {
    background-color: lightgray;
}

%nice-picture {
    max-width: 55rem;
    margin: 0 auto;

    img {
        width: 100%;
        margin-top: 2rem;
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

h1 {
    font-weight: normal;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 2rem;
    // padding-bottom: 4vmin;
    // padding-bottom: 40px;
    padding-bottom: 37px;
    // padding-bottom: 0rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: normal;
    // font-size: 3rem;
    // font-size: 9vmin;
    font-size: 32px;

    // ------------- fancy border ---------------
    border-bottom: 2px solid red;

    &:before {
        content: "";
        display: block;
        position: relative;
        z-index: 1;
        // top: 2.7rem;
        // top: 4.5rem;
        top: 5.5rem;
        border-bottom: 2px solid #36F;
    }

    &:after {
        content: "";
        display: block;
        position: relative;
        z-index: 1;
        top: 26px;
        border-bottom: 2px solid orange;
    }
    // ------------- /fancy border ---------------
}

.roving {
    margin: 2rem;

    .slideshow {
        @extend %nice-picture;

        .img-index {
            text-align: center;
            margin: 1rem;
        }
    }
}

.specific-image {
    @extend %nice-picture;
}

.controls {
    display: flex;
    justify-content: space-around;
}

// ----------- hovering --------------------------------------

.slideshow, .specific-image {
    ul.metadata {
        visibility: hidden;
        position: relative;
        top: 40px;
        left: 10px;
        margin: 0;
        margin-bottom: -40px;
    }
    &:hover {
        ul.metadata {
            visibility: visible;
            list-style: none;
            filter: drop-shadow(2px 3px 4px black);
            color: white;
        }
    }
}

// ----------------- /hovering ------------------------------
