body {
    background-color: pink;
}

%nice-picture {
    max-width: 40rem;
    margin: 0 auto;

    img {
        width: 100%;
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

h1 {
    border-bottom: 2px solid red;

    &:before {
        content: "";
        display: block;
        position: relative;
        z-index: 1;
        top: 2.7rem;
        bottom: 2px;
        border-bottom: 2px solid #36F;
    }
}

.roving {
    margin: 2rem;

    .slideshow {
        @extend %nice-picture;

        .img-index {
            text-align: center;
            margin: 1rem;
        }
    }
}

.specific-image {
    @extend %nice-picture;
}

.controls {
    display: flex;
    justify-content: space-around;
}

// ----------- hovering --------------------------------------

.slideshow, .specific-image {
    ul.metadata {
        visibility: hidden;
        position: relative;
        top: 40px;
        left: 10px;
        margin: 0;
        margin-bottom: -40px;
    }
    &:hover {
        ul.metadata {
            visibility: visible;
            list-style: none;
            filter: drop-shadow(2px 3px 4px black);
            color: white;
        }
    }
}

// ----------------- /hovering ------------------------------
